@model IEnumerable<ApointmentApp.Models.MobileData>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Select Model Name")
            </th>
			<td>
				@Html.DropDownList("Mobiledropdown", "select mobile")
			</td>
            <th>
                @Html.DisplayNameFor(model => model.MobileManufactured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DropDownList("Mobiledropdown", "select mobile")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileManufactured)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>*@
}
    </tbody>
</table>
